# Matrix Handler that needs upstreaming
git+https://github.com/jaywink/aiolog.git@0db27c59a1694857f58c2bae6874fb25c6c6f262#egg=aiolog

aiohttp
email-validator
matrix-nio[e2e]
Markdown
# Breaking changes in versions that need checking
python-keycloak<3
python-slugify
PyYAML
requests
pytz
