git+https://github.com/jaywink/aiolog.git@matrix-handler#egg=aiolog
aiohttp
email-validator>=1.1.2

# TODO commented out until fork pr'd and merged
#matrix-nio[e2e]>=0.18.0
git+https://github.com/jaywink/matrix-nio.git@delete-room-alias#egg=matrix-nio[e2e]==0.18.6.1

Markdown>=3.1.1
python-keycloak>=0.24.0
PyYAML>=5.1.2
requests
